#contact iframe
{
    width: 100%;
}
.Nishita
{
    border:1px solid rgb(9, 16, 143) ;
}
.Nishita img
{
    width:100% ;
}
.Nishita h4,.Nishita p
{
    margin: 20px;
}
.movie_head
{
    font-size: 20px;
    padding:6px 22px ;
    border-radius:10px ;
    margin-bottom:15px ;
}
.movie_head i
{
    float: right;
}
.movie_text span
{
    color: #f6e206;
}
.Amough
{
    margin-bottom:20px ;
}
#contact iframe
{
    width:100% ;
}